site_name: Jérémy Wiki
site_description: "Tous les trucs & astuces de Jerem"
site_author: "Jérémy DELGADO"
site_url: "https://wiki.jdelgado.fr/"

repo_url: https://github.com/PixiBixi/pixibixi.github.io
remote_branch: docs

theme:
  features:
    - toc.integrate
    - header.autohide
    - navigation.tracking
    - navigation.instant
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - content.code.copy
  name: material
  language: fr
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference

plugins:
  - meta
  - git-revision-date-localized:
      type: date
      fallback_to_build_date: true
      enable_creation_date: true
  - glightbox
  - search:
      lang: fr
  - tags
  - privacy
  - redirects:
      redirect_maps:
        'mess/useful_links.md': 'misc/useful_links.md'
        'mess/linux_performances.md': 'misc/linux_performances.md'
        'mess/optimization.md': 'misc/optimization.md'
        'mess/scripts_useful.md': 'misc/scripts_useful.md'
        'mess/github_template.md': 'misc/github_template.md'
        'mess/fibre_optique/info_transceiver.md': 'misc/fibre_optique/info_transceiver.md'
        'mess/download/netflix_subs.md': 'misc/download/netflix_subs.md'
  - minify:
      minify_html: true
      minify_js: true
      minify_css: true

extra:
  generator: false
  analytics:
    provider: google
    property: G-NHG8VK60NB
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/Pixel__Art
    - icon: fontawesome/brands/github
      link: https://github.com/PixiBixi
    - icon: fontawesome/brands/linkedin
      link: https://fr.linkedin.com/in/je-delgado

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - attr_list


