---
name: ci
on:
  push:
    branches: [master, main]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: tj-actions/changed-files@v46
        id: changed-files
        with:
          files: '**/*.md'
          separator: ','
      - uses: DavidAnson/markdownlint-cli2-action@v20
        if: steps.changed-files.outputs.any_changed == 'true'
        with:
          globs: ${{ steps.changed-files.outputs.all_changed_files }}
          separator: ','
          config: .markdownlint.json
  deploy:
    runs-on: ubuntu-latest
    needs: [lint]
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
          cache: 'pip'
      - run: pip3 install -r requirements.txt
      - run: mkdocs build --strict
      - run: mkdocs gh-deploy --force -d site/
